@tailwind base;
@tailwind components;
@tailwind utilities;

.common-width{
    @apply max-w-7xl mx-auto
}

@font-face {
    font-family: 'SourGummy'; /*a name to be used later*/
    src: url('./fonts/Sour_Gummy/SourGummy-Medium.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'RossoOne'; /*a name to be used later*/
    src: url('./fonts/Russo_One/RussoOne-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Lexend'; /*a name to be used later*/
    src: url('./fonts/Lexend/static/Lexend-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'LexendLight'; /*a name to be used later*/
    src: url('./fonts/Lexend/static/Lexend-Thin.ttf'); /*URL to font*/
}

.sour {
    font-family: 'SourGummy';
}
.russo {
    font-family: 'RossoOne';
}
.lexend {
    font-family: 'Lexend';
}
.lexendLight {
    font-family: 'LexendLight';
}